//animations

.slide-right {
  animation: 3s slide-right;
}

.slide-left {
  animation: 3s slide-left;
}

.oppacity {
  animation: 4s oppacity;
}

@keyframes oppacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    margin-left: 200%;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moving-text {
  100% {
    transform: translateX(-20%);
  }
}
