//-----COLORS-----

$mainColor: #e24747;
$primaryColor: #e59dd3;
$white: #fff;

//-----FONTS------
//https://fonts.adobe.com/fonts/paralucent

$titleFont: "Jockey One", sans-serif;
$secondaryFont: tenon, sans-serif;
